<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Modena</title>
        <link rel="stylesheet" href="/css/output.css" />
    </head>
    <body>
        <header class="absolute w-full z-50 px-4">
            <div class="container mx-auto py-5">
                <div class="flex justify-between items-center mt-12">
                    <div class="flex justify-start items-center">
                        <div class="w-[150px] flex items-center mr-10">
                            <img src="/images/modena.png" alt="modena" />
                        </div>
                        <div class="w-auto">
                            <ul class="flex items-baseline space-x-1">
                                <li class="mx-3 py-6 md:py-0">
                                    <a
                                        href="#"
                                        class="text-white hover:underline text-sm font-normal font-rubik"
                                        >Product</a
                                    >
                                </li>
                                <li class="mx-3 py-6 md:py-0">
                                    <a
                                        href="#"
                                        class="text-white hover:underline text-sm font-normal font-rubik"
                                        >Culinaria</a
                                    >
                                </li>
                                <li class="mx-3 py-6 md:py-0">
                                    <a
                                        href="#"
                                        class="text-white hover:underline text-sm font-normal font-rubik"
                                        >Kitchen Design</a
                                    >
                                </li>
                                <li class="mx-3 py-6 md:py-0">
                                    <a
                                        href="#"
                                        class="text-white hover:underline text-sm font-normal font-rubik"
                                        >Blog</a
                                    >
                                </li>
                                <li class="mx-3 py-6 md:py-0">
                                    <a
                                        href="#"
                                        class="text-white hover:underline text-sm font-normal font-rubik"
                                        >Promotions</a
                                    >
                                </li>
                                <li class="mx-3 py-6 md:py-0">
                                    <a
                                        href="#"
                                        class="text-white hover:underline text-sm font-normal font-rubik"
                                        >Services</a
                                    >
                                </li>
                                <li class="mx-3 py-6 md:py-0">
                                    <a
                                        href="#"
                                        class="text-white hover:underline text-sm font-normal font-rubik"
                                        >Our Location</a
                                    >
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="flex items-center space-x-8">
                        <div class="flex items-center space-x-1 mr-10">
                            <span
                                class="text-sm font-normal font-rubik text-white"
                                >ID</span
                            >
                            <span
                                class="text-sm font-normal font-rubik text-white"
                                >|</span
                            >
                            <span
                                class="text-sm font-bold font-rubik text-yellow-400"
                                >EN</span
                            >
                        </div>
                        <img
                            src="/images/user.png"
                            width="32px"
                            height="32px"
                        />
                        <img
                            src="/images/cart.png"
                            width="32px"
                            height="32px"
                        />
                    </div>
                </div>
            </div>
        </header>
        <div
            class="hero min-h-screen"
            style="background-image: url(/images/hero.jpg)"
        >
            <div class="hero-overlay"></div>
            <div class="hero-content text-neutral-content text-center">
                <div class="w-full">
                    <h1
                        class="text-[64px] font-medium leading-[70px] text-rubik"
                    >
                        Smartest Solutions <br />
                        Form Home And Living
                    </h1>
                </div>
            </div>
        </div>
    </body>
</html>
